<div class="cta-section">
  <div class="cta-container">
    <h2>
      There is nothing stopping you <span class="md:block"></span>from becoming a master
    </h2>
    <div class="cta-button-container">
      <a href="#"> Explore our courses </a>
    </div>
  </div>
</div>

<div class="bento">
  <div class="bento__container">
    <div class="bento__grid">
      <div class="bento__item bento__item--large">
        <div class="bento__item-content bento__item-content--with-carousel">
          <div class="bento__item-text bento__item-text--with-carousel">
            <h5>Categories</h5>
            <p>
              Find the courses
              <span class="lg:block"></span>
              you are most
              <span class="lg:block"></span>
              interested in,
              <span class="lg:block"></span>
              Just today
            </p>
            <a href="#"> Find your course</a>
          </div>
          <div class="bento__carousel-container">
            <!-- Carousel Here: Use Lightwiegh Vanilla Js plugin please no Jquery -->
          </div>
        </div>
      </div>

      <div class="bento__item bento__item--medium">
        <div class="bento__item-content">
          <div class="bento__item-image">
            <img src="https://placeholder.co/400x300/e5e7eb?text" alt="Keep your loved ones safe" />
          </div>
          <div class="bento__item-text">
            <h5>Keep your loved ones safe</h5>
            <p class="bento__item-text-description">
              Voluptate. magnam magni doloribus dolores voluptates a sapiente inventore nisi.
            </p>
          </div>
        </div>
      </div>

      {
        items.map((item) => (
          <div class="bento__item bento__item--small">
            <div class="bento__item-content">
              <div class="bento__item-image">
                <img src={item.imgSrc} alt={item.imgAlt} />
              </div>
              <div class="bento__item-text">
                <h5>{item.description}</h5>
                <p class="bento__item-text-description">{item.title}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .cta-section {
    @apply mx-auto max-w-7xl px-6 py-10 sm:py-12 lg:px-8;
  }

  .cta-container {
    @apply lg:items-end lg:justify-between lg:flex;
  }

  .cta-button-container {
    @apply mt-10 gap-x-6 items-center flex lg:mt-0 lg:flex-shrink-0;
  }

  .bento {
    @apply mx-auto max-w-7xl px-6 text-gray-500;
  }

  .bento__container {
    @apply relative;
  }

  .bento__grid {
    @apply z-10 grid-cols-1 gap-3 relative grid md:grid-cols-12;
  }

  .bento__item {
    @apply rounded-xl border border-gray-200 bg-white overflow-hidden relative dark:border-gray-800 dark:bg-gray-900;
  }

  .bento__item--large {
    @apply col-span-full md:col-span-7;
    @apply flex-col flex;
  }

  .bento__item--medium {
    @apply col-span-full text-center md:col-span-5;
  }

  .bento__item--small {
    @apply col-span-full text-center md:col-span-4;
  }

  .bento__item-content {
    @apply h-full flex-col flex;
  }

  .bento__item-content--with-carousel {
    @apply h-full p-3 flex-col flex lg:items-stretch lg:flex-row;
  }

  .bento__item-text--with-carousel {
    @apply justify-normal !important;
    @apply w-full lg:w-1/3 xl:w-2/5;
    @apply p-5;
  }
  .bento__item-text--with-carousel p {
    @apply pb-3 text-lg;
  }

  .bento__item-text {
    @apply z-10 justify-between flex-col relative flex;
  }
  .bento__item-text-description {
    @apply mt-1 px-3 pb-5 text-lg;
  }

  .bento__carousel-container {
    @apply w-full flex-grow lg:w-2/3 xl:w-3/5;
  }

  .bento__carousel-slide {
    @apply h-full w-full bg-gray-200 text-2xl text-gray-200 items-center justify-center flex;
  }

  .bento__item-image img {
    @apply h-48 w-full object-cover md:h-60;
  }
</style>
